<div class="container flex">
    <div class="facebook-page flex">
      <div class="text">
        <h1>LuxeLiving</h1>
        <p>Your luxury living experts,</p>
        <p> offering top-notch products for your home.</p>
      </div>
      <form action="#">
        <input type="email" placeholder="Email or phone number" required>
        <input type="password" placeholder="Password" required>
        <div class="link">
          <button type="submit" class="login">Login</button>
          <a href="#" class="forgot">Forgot password?</a>
        </div>
        <hr>
        <div class="button">
          <a href="#">Create new account</a>
        </div>
      </form>
    </div>
  </div>